@import "../../../static/css/const";

.wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 60px;
  align-items: flex-start;
  min-height: calc(100vh - 69px - 37px);

  @media screen and (max-width: 420px) {
    display: block;
    padding: 0;
  }
}

.footer {
  width: 100%;
  background-color: $color-primary;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  color: white;
}

.contentsWrapper {
  width: 760px;
  border-radius: 8px;
  overflow: hidden;
  @media screen and (max-width: 420px) {
    width: 85%;
    margin: 30px auto 0;
  }
}
