.wrapper {
  width: 100%;
  padding: 40px 40px 0;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: none;
  padding-bottom: 12px;
  border-bottom: 1px solid #254678;
}

.text {
  font-size: 14px;
  line-height: 1.8em;
  margin: 12px 0 40px;
}
