@import "../../../static/css/const";

.wrapper {
  width: 100%;
  padding: 40px;
  & a {
    text-decoration: underline;
  }
  @media screen and (max-width: 420px) {
    padding: 25px;
  }
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: none;
  padding-bottom: 12px;
  border-bottom: 1px solid $color-primary;
}

.text {
  font-size: 14px;
  line-height: 2em;
  & h2 {
    margin-bottom: 2px;
    text-decoration: underline;
    font-size: 19px;
  }
  & blockquote {
    padding: 0 1em;
    border-left: 0.25em solid #d0d7de;
    line-height: 1.4em;
  }
}

.note {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 14px 0;
}

.icon {
  margin-right: 6px;
  width: 13px;
}

.category {
  margin-right: 6px;
}
